@font-face {
  font-family: "AvenueMono";
  src: local("Avenue Mono"),
       url(/assets/fonts/AvenueMono.woff2) format("woff2"),
       url(/assets/fonts/AvenueMono.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.md-typeset h1, .md-typeset h2 {
  font-family: "AvenueMono";
}
